body{
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background: linear-gradient(112.42deg, #109DC1 0%, rgba(157, 237, 255, 0.57) 100%);
  background-attachment: fixed;
}
.Link {
  text-decoration: none;
}
.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #ffffff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 35px;
  overflow: hidden;
  margin-bottom: 5px;
  text-decoration: none;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}



.ui.grid.container {
  margin-top: 45px;
}

.ui.grid > .row {
  background: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}
.column.rp p {
  font-size: 18px;
  color: #777;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #e1dadc;
  border: 1px solid #e9d8d8;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}
.header {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin-left: 20px;
  font-size: 25px;
  float: right;
  padding-left: 50px;
  align-items: flex-end;
}
button{
  background-color: #ebebeb;
  float: right;
  width: 3px;
  height: 80px;
  padding-inline: 30px;
  
}
h3{
  float: right;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 15px;
}

@media (min-width: 749px){
          #main-collection-product-grid > .grid__item{
          max-width: 33.3333% !important;
          width: 100% !important;
        }
}

.cart-container {
  padding: 2rem;
  background-color: #fff;
  margin-top: 3rem;
  height: auto;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1rem;
}

.cart-container .titles {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 0.5rem;
}

.cart-item {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  align-items: center;
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-item .cart-product {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.cart-item .cart-product img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
  margin: 0;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  background-color: #109DC1;
  color: white;
  height: 30px;
  cursor: pointer;
  margin-right: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px; 
}



.cart-item .cart-product button:hover {
  color: black;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  border: 1px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}

.cart-item .cart-product-quantity .count {
  padding: 0.5rem;
  font-weight: bold;
}

.cart-item .cart-product-total-price {
  justify-self: right;
  font-weight: 700;
  margin-right: auto;
}


/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: none;
  background-color: #f2f2f2;
  margin-top: auto;
  color: black;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-summary .clear-btn:hover {
  background-color: #109DC1;
  color: white;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.cart-checkout .amount {
  font-weight: 700;
  margin-left: auto;
  margin-right: 120px;
}
.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}
.cart-checkout button {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #f2f2f2;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout button:hover {
  background-color: #109DC1;
  color: white;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}
